{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}

{% block sidebar %}
    {{ block.super }}

{% endblock %}



{{ block.super }}
<!-- Include jQuery (if not already included by admin/base_site.html) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Select2 CSS (if not already included by admin/base_site.html) -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.2/dist/css/select2.min.css" rel="stylesheet" /> -->

<!-- Include Select2 JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.2/dist/js/select2.min.js"></script> -->

<!-- Custom JavaScript -->
    <script type="text/javascript">
      setTimeout(function (){
        let elements = document.getElementsByClassName("float-right d-none d-sm-inline")
        for(let i =0;i<elements.length;i++){
            if(elements[i].innerHTML.trim()==`<b>Jazzmin version</b> 3.0.0`){
                console.log("hello",elements[i].innerHTML.trim())
                elements[i].innerHTML = "<b>PLM VERSION</b> 1.0.0"
            } 
        }
      },1000)

      setTimeout(function (){
        let elements = document.getElementsByClassName("float-right d-none d-sm-inline")
        for(let i =0;i<elements.length;i++){
            if(elements[i].innerHTML.trim()==`<b>Jazzmin version</b> 3.0.0`){
                // console.log("hello",elements[i].innerHTML.trim())
                elements[i].innerHTML = "<b>PLM VERSION</b> 1.0.0"
            } 
        }
      },3000)

    // Initialize Select2 on the element with ID `id_student` when the document is ready
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}">
{% endblock %}






