{% extends "vender/index.html" %}
{% load static %}

{% block navcontent %}
{% include 'vender/sidebar.html' with active='plan' %} 
{% endblock navcontent %}
{% block content %}

<div class="dash-content" style="padding-top: 0px;     border-bottom: 4px solid var(--primary-color);">
    <div class="activity" >
        <div class="title"style="margin: 0px 0px 10px 0px;">
            <div class="dash-items">
                <i class="uil uil-university"></i>
                <span class="text">Libraries</span>
            </div>

            <div class="select-menu">
                <a title="create new Library" href="{% url 'create_plan' %}"> <i class="uil uil-edit"></i> </a> <!-- Stylish Create Button -->
                <div class="select-items select-items1">
                    <select name="" id="">
                        <option value="">select</option>
                        <option value="">select</option>
                    </select>
                </div>

                <div class="select-items select-items2">
                    <select name="" id="">
                        <option value="">select</option>
                        <option value="">select</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="dash-content other-content activity-container "> {% endcomment %}
    <div class="activity-container" style="grid-template-columns: 1fr 1fr 1fr 2fr 1fr;">
        <!-- Header Row ('getPlanningFor','getHours', 'getPrize',  'status') -->
        <div class="activity-header">
            <span class="data-list">Plan type</span>
            <span class="data-list">Hours</span>
            <span class="data-list">Price</span>
            <span class="data-list">Status</span>
            <span class="data-list">Actions</span>
        </div>
    
        <!-- Data Rows -->
        {% for i in data %}
        <div class="activity-data">
            <span class="data-list">{{ i.getPlanningFor }}</span>
            <span class="data-list">{{ i.getHours }}</span>
            <span class="data-list">{{ i.getPrize }}</span>
            <span class="data-list">{{ i.status }}</span>
            <span class="data-list">
                <a class="edit" href="#"><i class="uil uil-edit"></i> Edit</a>
                <a class="edit" href="#"><i class="uil uil-trash"></i> Delete</a>
            </span>
        </div>
        {% endfor %}
    </div>
{% endblock content %}