{% extends "vender/index.html" %}
{% load static %}

{% block navcontent %}
{% include 'vender/sidebar.html' with active='booking' %} 
{% endblock navcontent %}
{% block content %}

<div class="dash-content" style="padding-top: 0px;     border-bottom: 4px solid var(--primary-color);">
    <div class="activity" >
        <div class="title"style="margin: 0px 0px 10px 0px;">
            <div class="dash-items">
                <i class="uil uil-university"></i>
                <span class="text">Libraries</span>
            </div>

            <div class="select-menu">
                <a title="create new Library" href="{% url 'seat_allotment' %}"> <i class="uil uil-edit"></i> </a> <!-- Stylish Create Button -->
                <div class="select-items select-items1">
                    <select name="" id="">
                        <option value="">select</option>
                        <option value="">select</option>
                    </select>
                </div>

                <div class="select-items select-items2">
                    <select name="" id="">
                        <option value="">select</option>
                        <option value="">select</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="dash-content other-content activity-container "> {% endcomment %}
    <div class="activity-container" style="grid-template-columns: .5fr .8fr 1fr 1.4fr 1fr 1fr 1fr 1.3fr;">
        <!-- Header Row ('getPlanningFor','getHours', 'getPrize',  'status') -->
        <div class="activity-header">
            <span class="data-list">Allotment ID</span>
            <span class="data-list">Student Name</span>
            <span class="data-list">Lib &#38; seat</span>
            <span class="data-list">Alloted At</span>
            <span class="data-list">Active Timme</span>
            <span class="data-list">Joined At</span>
            <span class="data-list">Expired At</span>
            <span class="data-list">Action</span>
        </div>
    
        <!-- Data Rows 'Studnt_Name', 'booking_id','Seat_no_w_lib', 'booking_time','active_hour','joining_date_wr','valid_till' -->
        {% for i in data %}
        <div class="activity-data">
            <span class="data-list">{{ i.pk }}</span>
            <span class="data-list">{{ i.Studnt_Name }}</span>
            <span class="data-list">{{ i.Seat_no_w_lib }}</span>
            <span class="data-list">{{ i.booking_time }}</span>
            <span class="data-list">{{ i.active_hour }}</span>
            <span class="data-list">{{ i.joining_date_wr }}</span>
            <span class="data-list">{{ i.valid_till }}</span>
            <span class="data-list">
                <a class="edit" href="#"><i class="uil uil-edit"></i> Edit</a>
                <a class="edit" href="#"><i class="uil uil-trash"></i> Delete</a>
            </span>
        </div>
        {% endfor %}
    </div>

{% endblock content %}